.lesson-1.div{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;    
    border: 1px solid transparent;
    border-radius: .25rem;
}
.lesson-1 .pre{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lesson-1 .btn{
    cursor: pointer;
    background-color: transparent;
    border: 0;
    appearance: none;
    padding: 14px 28px;
    font-size: 24px;
    color:  rgb(21, 87, 36);
}
.lesson-1 .btn:hover{
    color:  rgb(22,22,22);
}
